{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign full_width = '100vw'
  assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'

  if section.settings.image_behavior == 'ambient'
    assign half_width = '60vw'
    assign full_width = '120vw'
    assign stacked_sizes = '(min-width: 750px) 60vw, 120vw'
    assign widths = '450, 660, 900, 1320, 1800, 2136, 2400, 3600, 7680'
  elsif section.settings.image_behavior == 'fixed' or section.settings.image_behavior == 'zoom-in'
    assign half_width = '100vw'
    assign stacked_sizes = '100vw'
  else
    assign half_width = '50vw'
    assign stacked_sizes = '(min-width: 750px) 50vw, 100vw'
  endif
  assign fetch_priority = 'auto'
  if section.index == 1
    assign fetch_priority = 'high'
  endif
-%}

<div id="Banner-{{ section.id }}" class="banner banner--content-align-{{ section.settings.desktop_content_alignment }} banner--content-align-mobile-{{ section.settings.mobile_content_alignment }} banner--{{ section.settings.image_height }}">
  {%- for i in (1..3) -%}
  {%- assign img_id = "image_" | append: i -%}
  {%- assign img = section.settings[img_id] -%}
  {%- if img != blank -%}
    <div class="banner__media media banner__media-{{ i }}">
      {%- assign img_height = img.width | divided_by: img.aspect_ratio -%}
      {%- assign img_class = "banner__media-image" -%}
      {%- if i != 1 -%}
        {%- assign img_class = img_class | append: "-half" -%}
      {%- endif -%}
      {%- assign sizes = full_width -%}
      {%- if i != 1 -%}
        {%- assign sizes = half_width -%}
      {%- endif -%}
      {{
        img
        | image_url: width: 3840
        | image_tag:
          width: img.width,
          height: img_height,
          class: img_class,
          sizes: sizes,
          widths: widths,
          fetchpriority: fetch_priority
      }}
    </div>
  {%- endif -%}
{%- endfor -%}


  <div class="banner__content banner__content--{{ section.settings.desktop_content_position }} page-width">
    <div class="banner__box content-container color-{{ section.settings.color_scheme }} gradient">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'heading' -%}
            <h2 class="banner__heading inline-richtext {{ block.settings.heading_size }}">{{ block.settings.heading }}</h2>
          {%- when 'text' -%}
            <div class="banner__text rte {{ block.settings.text_style }}">
              <p>{{ block.settings.text }}</p>
            </div>
          {%- when 'buttons' -%}
            <div class="banner__buttons{% if block.settings.button_label_1 != blank and block.settings.button_label_2 != blank %} banner__buttons--multiple{% endif %}">
              {%- if block.settings.button_label_1 != blank -%}
                <a href="{{ block.settings.button_link_1 }}" class="button{% if block.settings.button_style_secondary_1 %} button--secondary{% else %} button--primary{% endif %}">{{ block.settings.button_label_1 }}</a>
              {%- endif -%}
              {%- if block.settings.button_label_2 != blank -%}
                <a href="{{ block.settings.button_link_2 }}" class="button{% if block.settings.button_style_secondary_2 %} button--secondary{% else %} button--primary{% endif %}">{{ block.settings.button_label_2 }}</a>
              {%- endif -%}
            </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Custom Multi-Image Banner",
  "settings": [
    { "type": "image_picker", "id": "image", "label": "Image 1" },
    { "type": "image_picker", "id": "image_2", "label": "Image 2" },
    { "type": "image_picker", "id": "image_3", "label": "Image 3" },
    { "type": "range", "id": "image_overlay_opacity", "label": "Overlay Opacity", "min":0, "max":100, "step":10, "default":0 },
    { "type": "select", "id": "image_height", "label":"Image Height", "options":[{"value":"adapt","label":"Adapt"},{"value":"small","label":"Small"},{"value":"medium","label":"Medium"},{"value":"large","label":"Large"}],"default":"medium"},
    { "type": "select", "id": "image_behavior","label":"Image Behavior","options":[{"value":"none","label":"None"},{"value":"ambient","label":"Ambient"},{"value":"fixed","label":"Fixed"},{"value":"zoom-in","label":"Zoom In"}],"default":"none"},
    { "type": "select","id":"desktop_content_position","label":"Desktop Content Position","options":[{"value":"top-left","label":"Top Left"},{"value":"middle-center","label":"Middle Center"},{"value":"bottom-right","label":"Bottom Right"}],"default":"middle-center"},
    { "type": "select","id":"desktop_content_alignment","label":"Desktop Content Alignment","options":[{"value":"left","label":"Left"},{"value":"center","label":"Center"},{"value":"right","label":"Right"}],"default":"center"},
    { "type": "color_scheme","id":"color_scheme","label":"Color Scheme","default":"scheme-1"}
  ],
  "blocks": [
    { "type":"heading", "name":"Heading" },
    { "type":"text", "name":"Text" },
    { "type":"buttons", "name":"Buttons" }
  ],
  "max_blocks": 6,
  "presets": [
    {
      "name": "Custom Multi-Image Banner",
      "blocks": [ { "type":"heading" }, { "type":"text" }, { "type":"buttons" } ]
    }
  ]
}
{% endschema %}
